<ion-header [translucent]="true">
  <ion-toolbar style="padding-top: 25px;">
    <ion-title>
      Pomodoro App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2 class="ion-text-center">Current Local Time: {{ currentTime }}</h2>
  <ion-button expand="block" (click)="viewPendingPomodoro()">Check Pending Pomodoro/Notifs</ion-button>
  <ion-button expand="block" id="open-pomodoro-modal" (click)="createPomodoro()" color="warning">Press to Start Pomodoro</ion-button>

  <!-- Pomodoro Timer Modal -->
  <ion-modal trigger="open-pomodoro-modal" (ionModalDidPresent)="startCountdown()">
    <ng-template>
      <ion-header>
        <ion-toolbar style="padding-top: 25px;">
          <ion-title class="ion-text-center">Pomodoro Timer</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <h2 class="ion-text-center countdown-timer">{{ displayCountdown }}</h2>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Break Timer Modal -->
  <ion-modal #breakModal>
    <ng-template>
      <ion-header>
        <ion-toolbar style="padding-top: 25px;">
          <ion-buttons slot="start">
            <ion-button (click)="closeBreakModal()" style="--color: #ffcccc">Return</ion-button>
          </ion-buttons>
          <ion-title>Break Timer</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <h2 class="ion-text-center countdown-timer">{{ breakCountdown }}</h2>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>