<ion-header [translucent]="true">
  <ion-toolbar style="padding-top: 25px;">
    <ion-title>
      Pomodoro App
    </ion-title>
    <ion-toggle slot="end" style="padding-right: 10px;">
      Dark Mode
    </ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button expand="block" (click)="createPomodoro()">Press to Start Pomodoro</ion-button>
  <ion-button expand="block" (click)="viewPendingPomodoro()">Check Timer (When Display Notif)</ion-button>
</ion-content>